/*----------------------------------------*\
  Button
\*----------------------------------------*/

.button {
  @apply px-3 py-2;
  @apply bg-blue-200 rounded;
}

.button-danger {
  @apply bg-red-200;
}

.button-neutral {
  @apply bg-gray-200;
}