/*----------------------------------------*\
  Code
\*----------------------------------------*/

.code {
  @apply block p-2 my-4;
  @apply text-xs dark:text-white;
  @apply rounded-md bg-gray-100 dark:bg-gray-900
}
