/*----------------------------------------*\
  Base
\*----------------------------------------*/

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

input,
textarea {
  @apply w-full max-w-sm py-1 px-2 rounded;
  @apply border border-gray-500;
}